body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}
.signup-box{
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.signup-box:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}
.signup-box p{
  font-weight: 500;
}
.logo{
  width:30px;
  object-fit: contain;
}